<% if @best_matches %>
	<% @best_matches.each do |match| %>
		<% recipe = Yummly.find(match.first)%>
		<a href="<%= recipe.attribution.url %>"><p><%= recipe.name%></p></a>
		<% if recipe.thumbnail %>
	    <a href="<%= recipe.attribution.url %>"><img src="<%= recipe.thumbnail %>"></a>
    <% else %>
    	<a href="<%= recipe.attribution.url %>"><img src="<%= recipe.thumbnail %>"></a>
		<% end %><br>

		<strong>ingredients</strong>: <%= recipe.ingredients.join(', ') %> <br>

		<strong>Pantry matches</strong>: <%= match[2].join(', ') %> <br> 
		<strong>Do you have? </strong>: <%= (match[1] - match[2]).join(', ') %> <br>
		<strong>Might be missing</strong>: <%= (match[1] - match[2]).join(', ') %> <br>
		<strong>Rating</strong>: <%= recipe.rating %><br>
		<strong>Source</strong>: <%= match[-2]%>  
	<% end  %>
<% else %>
<h5> No recipes found</h5>
<% end %>
<br>
<br>

<!-- <%= @search_results.attribution.html %> -->
<%= @search_results.attribution.text %>
<img src="<%= @search_results.attribution.logo %>">
