<% if @best_matches %>
	<% @best_matches.each do |match| %>
		<a href="<%= match['recipe'].attribution.url %>"><p><%= match['recipe'].name%></p></a>
		<% if match['recipe'].thumbnail %>
	    <a href="<%= match['recipe'].attribution.url %>"><img src="<%= match['recipe'].thumbnail %>"></a>
    <% else %>
    	<a href="<%= match['recipe'].attribution.url %>"><img src="<%= match['recipe'].thumbnail %>"></a>
		<% end %><br>

		<strong>Ingredients</strong>: <%= match['ingredients'] %> <br>

		<strong>Exact pantry matches</strong>: <%= match['pantry_has'] %> <br> 
		<strong>Pantry might be missing </strong>: <%= match['pantry_might_have'] %> <br>
		<strong>Missing</strong>: <%= %> <br>
		<strong>Rating</strong>: <%= match['recipe'].rating %><br>
		<strong>Source</strong>: <%= match['sourceDisplayName']%>  
	<% end  %>
<% else %>
<h5> No recipes found</h5>
<% end %>
<br>
<br>

<!-- <%= @search_results.attribution.html %> -->
<%= @search_results.attribution.text %>
<img src="<%= @search_results.attribution.logo %>">
