<%= form_tag '/login', :class => "login" do %>
  
  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  <span class="password-notice"></span>
  </p>

  <p>
    <%= submit_tag "Login" %>
  </p>
<% end %>



<script>
$(document).ready(function($) {

  $("input#password").on("click", function(){$(".password-notice").html("Don't leave me blank!");});

 var email = false;
  var password = false;
  if (email === false || password === false) {$("input[name='commit']").attr("disabled", "disabled");}

    $("input#email").on('keyup', function() {
      var emailInput = $("form input:text").val();
      var emailPattern = /[\w.]+@\w+(\.\w{2,})+/;
      if (emailPattern.test(emailInput)) {
        email = true;
        console.log("in the email loop");
      }
    });
 

    $("input#password").on('keyup', function() {
    var passwordInput = $("input#password").val();
    //Match 8 to 15 character string with at least one upper case letter, one lower case letter, and one digit (useful for passwords)
    var passwordPattern = /((?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,15})/gm;
    console.log("before password");
    if (passwordPattern.test(passwordInput)) {
      password = true;
      console.log(password);
      console.log(email);
      console.log("in the password loop");
      if (email === true && password === true) {$("input[name='commit']").removeAttr('disabled');}
    }  
  });

});
</script>