<%= form_for @user do |f| %>
  <h1>Register</h1>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> Process failed because:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :first_name, :required => true, :placeholder => 'First Name' %>
  </p>

  <p>
    <%= f.text_field :last_name, :required => true, :placeholder => 'Last Name' %>
  </p>

  <p class="email-input-register">
    <%= f.text_field :email, :required => true, :pattern => '[\w.]+@\w+(\.\w{2,})+', :placeholder => 'Email' %> <span class="email-input-notice"> </span>
  </p>

  <p class="password-input-register">
    <%= f.password_field :password, :required => true, :pattern => '((?=.*d)(?=.*[a-z])(?=.*[A-Z]).{6})', :placeholder => 'Password' %> <span class="password-input-notice"> </span>
  </p>

  <p>
    <%= f.password_field :password_confirmation, :required => true, :placeholder => 'Confirm Password' %>
  </p>

  <% if @token != nil %>
    <%= hidden_field_tag :invite_token, @token %>
  <% end %>

  <p>
    <%= f.submit "Register" %>
  </p>

<% end %>

<script>
$(document).ready(function($) {
    $("input#user_password").tipsy({gravity: 'w', fade: true, trigger: 'focus', fallback: "Use at least 6 characters. Include both an upper and a lower case letter."})
  });
//     $("input#user_email").on('keyup', function() {
//         console.log("eval email:" + email)
//       var emailInput = $("form input#user_email").val();
//       var emailPattern = /[\w.]+@\w+(\.\w{2,})+/;
//       if (emailPattern.test(emailInput)) {
//         email = true;
//         console.log("in the email loop");
//       }
//       if (email === true && password === true && matchingPasswordInput === true) {$("input[name='commit']").removeAttr("disabled");}
//     });

    // $("input#user_password").on('keyup', function() {
    //   var passwordInput = $("input#user_password").val();
    //   var passwordPattern = /((?=.*d)(?=.*[a-z])(?=.*[A-Z]).{6})/gm;
    //   if (passwordPattern.test(passwordInput)) {
    //     }
    // });

    // $("input#user_password_confirmation").on('keyup', function() {
    //   var passwordInput = $("input#user_password").val();
    //   var passwordConfirmationInput = $("input#user_password_confirmation").val();
    //   if (passwordInput === passwordConfirmationInput) {
    //     console.log("I am in the confirmation loop");
    //     $("input#user_password_confirmation").tipsy({gravity: 'w', trigger: 'focus', fade: true, fallback: "Password fields do not match."})
    //   }
    // });
</script>

