<%= form_for @user, html: { role: "form" } do |f| %>
        <% if @user.errors.any? %>
        <div id="errors_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %>
            prohibited the user from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

<%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>

<%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>

<%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>

<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Please confirm your password" %>

<%= f.submit "Submit" %>
          <% end %>
