<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> Process failed because:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p class="email-input-register">
    <%= f.label :email %><br>
    <%= f.text_field :email %> <span class="email-input-notice"> </span>
  </p>

  <p class="password-input-register">
    <%= f.label :password %><br>
    <%= f.password_field :password %> <span class="password-input-notice"> </span>
  </p>

   <p>
    <%= f.label :Confirm_password %><br>
    <%= f.password_field :password_confirmation %> 
  </p>

  <% if @token != nil %>
    <%= hidden_field_tag :invite_token, @token %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<script>
$(document).ready(function($) {

  // $(".email-input-register").on("click", function(){$(".email-input-notice").html("Don't leave me blank. Thanks!");});
  // $(".password-input-register").on("click", function(){$(".password-input-notice").html("Use at least 6 characters. Include both an upper and a lower case letter.");});

  // var email = false;
  // var password = true;
  // if (email === false || password === true) {$("input[name='commit']").attr("disabled", "disabled");}

  //   $("input#user_email").on('keyup', function() {
  //     var emailInput = $("form input#user_email").val();
  //     console.log(emailInput);
  //     var emailPattern = /[\w.]+@\w+(\.\w{2,})+/;
  //     if (emailPattern.test(emailInput)) {
  //       email = true;
  //       console.log("in the email loop");
  //     }
  //     if (email === true) {$("input[name='commit']").removeAttr('disabled');}

 

  //   $(".password-input").on('keyup', function() {
  //   var passwordInput = $("input#password").val();
  //   //Match 8 to 15 character string with at least one upper case letter, one lower case letter, and one digit (useful for passwords)
  //   var passwordPattern = /((?=.*d)(?=.*[a-z])(?=.*[A-Z]).{6})/gm;
  //   console.log("before password");
  //   if (passwordPattern.test(passwordInput)) {
  //     password = true;
  //     console.log(password);
  //     console.log(email);
  //     console.log("in the password loop");
      // if (email === true && password === true) {$("input[name='commit']").removeAttr('disabled');}
  //   }  
  // });

});
</script>

