<h3><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h3>

<%= link_to 'Edit User', edit_user_path(@user) %> ||
<%= link_to 'Destroy User', user_path(@user), method: :delete %> ||
<%= link_to 'New Pantry', new_user_pantry_path(@user), :class => "new-pantry", remote: true %>

<%= render "pantries/new_pantry", locals: { :pantry => @pantry = Pantry.new } %>

  <% if @user %>
  <div id="accordion">
    <% @user.original_pantries.each do |pantry| %>
      <div class="pantry">
          <h4 class="accordion-toggle"><%= pantry.name %></h4>
          <div class="accordion-content">
          Invite:
            <%= render 'invite', locals: { :pantry => @pantry = pantry }  %> <br>
            <%= render 'layouts/search', locals: { :pantry => @pantry = pantry }  %>
            <div class="search-results"> </div>
            <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
          </div>
      </div>
    <% end %>
  <% end %>

  <% if @user %>
    <% @user.pantries.each do |pantry| %>
      <div class="pantry">
          <h4 class="accordion-toggle"><%= pantry.name %></h4>
          <div class="accordion-content">
            <%= render 'layouts/search', locals: { :pantry => @pantry = pantry }  %>
            <div class="search-results"> </div>
            <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
