<h3><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h3>

<%= link_to 'Edit User', edit_user_path(@user) %>
<%= link_to 'Destroy User', user_path(@user), method: :delete %>


  <% if @user %>
  <div id="accordion">
    <div id="creator_pantries">
    <% @user.original_pantries.each do |pantry| %>
        <div id="pantry<%= pantry.id%>" class="pantry">
            <h4 class="accordion-toggle"><%= pantry.name %></h4>
            <div class="accordion-content">
              <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
            </div>
        </div>
        <div id="pantry_edit_form<%= pantry.id%>" class="pantry_edit_form"><%= render '/pantries/edit_pantry', locals: { :pantry => @pantry = pantry, :user => @user } %></div>
    <% end %>
    </div>
  <% end %>

  <% if @user %>
    <% @user.pantries.each do |pantry| %>
      <div class="pantry">
          <h4 class="accordion-toggle"><%= pantry.name %></h4>
          <div class="accordion-content">
            <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>

<h5>New Pantry</h5>
<%= render "/pantries/new_pantry", locals: { :pantry => @pantry = Pantry.new } %>
