<%= render "layouts/logged_in_header" %>

<h3><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h3>

<%= link_to 'Edit User', edit_user_path(@user) %>
<%= link_to 'Destroy User', user_path(@user), method: :delete %>

<table>
  <tr>
    <th>Pantry Name (Owner)</th>
  </tr>

  <% if @user %>
    <% @user.original_pantries.each do |pantry| %>
      <tr>
          <td><%= link_to pantry.name, user_pantry_path(@user, pantry) %></td>
          <% if session[:user_id] == @user.id %>
          <td><%= link_to 'Edit Pantry', edit_user_pantry_path(@user, pantry) %></td>
          <td><%= link_to "Delete Pantry", user_pantry_path(@user, pantry), method: :delete, remote: true, :class => "pantry-delete" %></td>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<table>
  <tr>
    <th>Pantry Name (Participant)</th>
  </tr>

  <% if @user %>
    <% @user.pantries.each do |pantry| %>
      <tr>
          <td><%= link_to pantry.name, user_pantry_path(@user, pantry) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>

<%= link_to 'New Pantry', new_user_pantry_path(@user), remote: true, :class => "new-pantry" %>
