<h3>Your Pantries</h3>

<%= link_to 'Edit User', edit_user_path(@user) %>
<%= link_to 'Destroy User', user_path(@user), method: :delete %>
<button class="new_pantry_button" id="new_pantry_button">Create Pantry</button>
<button class="cancel_new_pantry_button" id="cancel_new_pantry_button">Cancel</button>

<%= render "pantries/new_pantry", locals: { :pantry => @pantry = Pantry.new } %>

  <% if @user %>
  <div id="accordion">
    <div id="creator_pantries">
    <% @user.original_pantries.each do |pantry| %>
      <div id="pantry<%= pantry.id%>" class="pantry">
          <h4 class="accordion-toggle"><%= pantry.name %></h4>
          <div class="accordion-content">
         
            <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
          </div>
      </div>
    <% end %>
    </div>
  <% end %>

  <% if @user %>
    <% @user.pantries.each do |pantry| %>
      <div id="pantry<%= pantry.id%>">
          <h4 class="accordion-toggle"><%= pantry.name %></h4>
          <div class="accordion-content">
            <% if @user.id != pantry.creator_id %>
                <%= form_for [@user, pantry], url: opt_out_path(@user, pantry), method: :delete, remote: true, :html => { :class => "opt_out_button", :id => "opt_out_button#{pantry.id}" } do |f| %>
                  <%= f.submit 'Opt Out' %>
                <% end %>
            <% end %>
            
            <%= render "pantries/show", locals: { :pantry => @pantry = pantry } %>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
