<table class="edit_pantry" id="edit_pantry<%= @pantry.id%>">
<%= form_for [@user, @pantry], remote: true do |f| %>
  <% if @pantry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pantry.errors.count, "error") %> prohibited
      this pantry from being saved:</h2>
    <ul>
    <% @pantry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <td>
  <p>
    <%= f.text_field :name, :placeholder => "Name" %>
  </p>
  </td>

  <p>
    <%= f.hidden_field 'creator_id', value: @user.id %>
  </p>

  <td>
    <%= f.submit "Update" %>
  </td>
<% end %>
<td>

</td>
</table>
