<%= form_for [@user, @pantry], remote: true, :class => "edit_pantry", :html => { :id => "edit_pantry#{@pantry.id}" } do |f| %>
  <% if @pantry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pantry.errors.count, "error") %> prohibited
      this pantry from being saved:</h2>
    <ul>
    <% @pantry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.hidden_field 'creator_id', value: @user.id %>
  </p>

  <p>
    <%= f.submit "Edit Pantry" %>
  </p>
<% end %>
