<%= form_for [@user = User.find(session[:user_id]), @pantry], remote: true, :html => { :id => "new_pantry" } do |f| %>
  <% if @pantry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pantry.errors.count, "error") %> prohibited
      this pantry from being saved:</h2>
    <ul>
    <% @pantry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :name, :placeholder => "Name" %>
  </p>

  <p>
    <%= f.hidden_field 'creator_id', value: @user.id %>
  </p>

  <p>
    <%= f.submit "Create Pantry" %>
  </p>
<% end %>
