<% if @user.id == @pantry.creator_id %>

<%= link_to 'Edit Pantry', edit_user_pantry_path(@user, @pantry), :id => "pantry_edit_button#{@pantry.id}", remote: true %> || <%= link_to 'Destroy Pantry', user_pantry_path(@user, @pantry), remote: true, method: :delete, :class => "pantry-delete", :id => "pantry_delete_button#{@pantry.id}" %>

  <%= render '/pantries/edit_pantry', locals: { :pantry => @pantry, :user => User.find(session[:user_id])} %>

<% end %>

<table>
	 <% if !@pantry.items.empty? %>
	     <%= link_to "Get Recipes", user_pantry_recipes_path(@user, @pantry) %>
	 <% end %>
  <tr>
    <th>Item Name</th>
    <th>Expiration Date</th>
  </tr>

 <tbody class="item-block">

  <% if @pantry %>
    <%= render '/items/item', locals: { :pantry => @pantry, :user => User.find(session[:user_id])} %>
  <% end %>
 </tbody>
</table>

<div class="new-item-create">
  <%= link_to 'New Item', new_user_pantry_item_path(@user, @pantry), remote: true, :class => "new_item_button", :id => "new_item_button#{@pantry.id}" %>

  <%= render '/items/new_item', locals: { :pantry => @pantry, :user => User.find(session[:user_id]) } %>
</div>
