<h2><%= @user.first_name %> <%= @user.last_name %>'s Pantries</h2>
<ul>
	<% @user.pantries.each do |pantry| %>
	<li><%= link_to pantry.name, user_pantry_path(@user.id, pantry) %></li>
	<li><%= button_to 'Edit', edit_user_pantry_path(@user.id, pantry), class: "button", method: :get %></li>
	<% end %>
</ul>

<%= button_to 'Create New Pantry', new_user_pantry_path(@user.id), class: "button", method: :get %>