<%= form_for [@user, @pantry, @item] do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited
      this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :prototype_name %>
  </p>

  <p>
    <%= f.label :expiration_date %><br>
    <%= f.text_field :expiration_date %>
  </p>

  <p>
    <%= f.hidden_field 'pantry_id', value: @pantry.id %>
  <p>
    <%= f.submit "Edit" %>
  </p>
<% end %>
