<ul>
<li>Welcome, <%= @user.first_name %>!</li>
<li><%= link_to image_tag('home.png', id: "home"), root_path %></li>
<li><%= link_to image_tag('kitchen.png', id: "kitchen"), user_path(session[:user_id]) %></li>
<li><%= link_to image_tag('edit_cog.png', id: "edit_cog"), edit_user_path(session[:user_id]) %></li>
<li><%= link_to image_tag('logout.png', id: "logout_button") , logout_path %></li>
</ul>
